<a href="https://colab.research.google.com/github/akashsabale01/DSBDA_Lab/blob/main/Ass_No_3_Measure_Of_Central_Tendency_and_Variablity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ass No 3 - Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by the
age groups. Create a list that contains a numeric value for each response to the categorical
variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’
of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

In [3]:
import pandas as pd

In [2]:
df = pd.read_csv("weather_by_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2021  new york           32          6    Rain
1   1/2/2021  new york           36          7   Sunny
2   1/3/2021  new york           28         12    Snow
3   1/4/2021  new york           33          7   Sunny
4   1/1/2021    mumbai           90          5   Sunny
5   1/2/2021    mumbai           85         12     Fog
6   1/3/2021    mumbai           87         15     Fog
7   1/4/2021    mumbai           92          5    Rain
8   1/1/2021     paris           45         20   Sunny
9   1/2/2021     paris           50         13  Cloudy
10  1/3/2021     paris           54          8  Cloudy
11  1/4/2021     paris           42         10  Cloudy

In [4]:
g_city = df.groupby("city")
g_city

In [7]:
g_city.get_group('mumbai')

        day    city  temperature  windspeed  event
4  1/1/2021  mumbai           90          5  Sunny
5  1/2/2021  mumbai           85         12    Fog
6  1/3/2021  mumbai           87         15    Fog
7  1/4/2021  mumbai           92          5   Rain

In [9]:
for city, data in g_city:
    print("city:",city)
    print("\n")
    print("data:",data)

city: mumbai


data:         day    city  temperature  windspeed  event
4  1/1/2021  mumbai           90          5  Sunny
5  1/2/2021  mumbai           85         12    Fog
6  1/3/2021  mumbai           87         15    Fog
7  1/4/2021  mumbai           92          5   Rain
city: new york


data:         day      city  temperature  windspeed  event
0  1/1/2021  new york           32          6   Rain
1  1/2/2021  new york           36          7  Sunny
2  1/3/2021  new york           28         12   Snow
3  1/4/2021  new york           33          7  Sunny
city: paris


data:          day   city  temperature  windspeed   event
8   1/1/2021  paris           45         20   Sunny
9   1/2/2021  paris           50         13  Cloudy
10  1/3/2021  paris           54          8  Cloudy
11  1/4/2021  paris           42         10  Cloudy

In [10]:
g_city.max()

               day  temperature  windspeed  event
city
mumbai    1/4/2021           92         15  Sunny
new york  1/4/2021           36         12  Sunny
paris     1/4/2021           54         20  Sunny

In [11]:
g_city.describe()

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [12]:
g_city.max('temperature')

          temperature  windspeed
city
mumbai             92         15
new york           36         12
paris              54         20

In [13]:
g_city.temperature.max()

city
mumbai      92
new york    36
paris       54
Name: temperature, dtype: int64