<a href="https://colab.research.google.com/github/akashsabale01/DSBDA_Lab/blob/main/Ass_No_1_Data_Wrangling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ass 1
Here we have used autos-imports-85.csv as dataset
https://networkrepository.com/autos-imports-85.php

Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear
 description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the
data set. If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.

In addition to the codes and outputs, explain every operation that you do in the above steps and
explain everything that you do to import/read/scrape the data set.

In [144]:
import pandas as pd
import numpy as np

In [145]:
df = pd.read_csv('/content/autos_imports-85_updated.csv')
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower-peak-rpm,city-mpg,highway-mpg,price,Unnamed: 24,Unnamed: 25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [146]:
# check dimensions of dataframe
df.shape

(205, 26)

In [147]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower-peak-rpm,city-mpg,highway-mpg,price,Unnamed: 24,Unnamed: 25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [148]:
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower-peak-rpm,city-mpg,highway-mpg,price,Unnamed: 24,Unnamed: 25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [149]:
# describe() function to get some initial statistics.
df.describe()

,symboling,length,width,height,curb-weight,engine-type,fuel-system,horsepower-peak-rpm,price,Unnamed: 24
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [150]:
# identify missing values by converting ? to NaN
df = df.replace("?", np.nan)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower-peak-rpm,city-mpg,highway-mpg,price,Unnamed: 24,Unnamed: 25
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [151]:
# Detect Missing data and count it
df.isnull().sum()

symboling               0
normalized-losses      41
make                    0
fuel-type               0
aspiration              0
num-of-doors            2
body-style              0
drive-wheels            0
wheel-base              0
length                  0
width                   0
height                  0
curb-weight             0
engine-type             0
num-of-cylinders        0
engine-size             0
fuel-system             0
bore                    0
stroke                  4
compression-ratio       4
horsepower-peak-rpm     0
city-mpg                2
highway-mpg             2
price                   0
Unnamed: 24             0
Unnamed: 25             4
dtype: int64

# Deal with missing data
# How to deal with missing data?

1) drop data
*   drop the whole row
*   drop the whole column

2) replace data
*   replace it by mean
*   replace it by frequency
*   replace it based on other functions

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely. We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns

In [152]:
# Find avg normalized-losses column
avg_norm_loss = df['normalized-losses'].astype('float').mean()
df['normalized-losses'].replace(np.nan, avg_norm_loss, inplace=True)
df['normalized-losses'].isnull().sum()

0

In [153]:
avg_stroke = df['stroke'].astype('float').mean()
df['stroke'].replace(np.nan, avg_stroke, inplace=True)
df['stroke'].isnull().sum()

0

In [154]:
avg_compression_ratio = df['compression-ratio'].astype('float').mean()
df['compression-ratio'].replace(np.nan, avg_compression_ratio, inplace=True)
df['compression-ratio'].isnull().sum()

0

In [155]:
avg_city_mpg = df['city-mpg'].astype('float').mean()
df['city-mpg'].replace(np.nan, avg_city_mpg , inplace=True)
df['city-mpg'].isnull().sum()

0

In [156]:
avg_highway_mpg = df['highway-mpg'].astype('float').mean()
df['highway-mpg'].replace(np.nan, avg_highway_mpg, inplace=True)
df['highway-mpg'].isnull().sum()

0

In [157]:
# num of door - Replace na values of it with its frequency , 
# here four has occured multiple time so replace it with 4

avg_num_of_doors = df['num-of-doors'].value_counts().idxmax()
df['num-of-doors'].replace(np.nan, avg_num_of_doors, inplace=True)
df['num-of-doors'].isnull().sum()

0

In [158]:
# drop unnamed column - rename them & then drop them
df.rename({"Unnamed: 24":"a"}, axis="columns", inplace=True)
df.drop(["a"], axis=1, inplace=True)

df.rename({"Unnamed: 25":"b"}, axis="columns", inplace=True)
df.drop(["b"], axis=1, inplace=True)

df.isnull().sum()

symboling              0
normalized-losses      0
make                   0
fuel-type              0
aspiration             0
num-of-doors           0
body-style             0
drive-wheels           0
wheel-base             0
length                 0
width                  0
height                 0
curb-weight            0
engine-type            0
num-of-cylinders       0
engine-size            0
fuel-system            0
bore                   0
stroke                 0
compression-ratio      0
horsepower-peak-rpm    0
city-mpg               0
highway-mpg            0
price                  0
dtype: int64

In [159]:
# Correct Data Format
# dtype - for check data type
# astype - for changing data type
print("Before Datatype conversion")
df.dtypes

Before Datatype conversion

symboling                int64
normalized-losses       object
make                    object
fuel-type               object
aspiration              object
num-of-doors            object
body-style              object
drive-wheels            object
wheel-base              object
length                 float64
width                  float64
height                 float64
curb-weight            float64
engine-type              int64
num-of-cylinders        object
engine-size             object
fuel-system              int64
bore                    object
stroke                  object
compression-ratio       object
horsepower-peak-rpm    float64
city-mpg                object
highway-mpg             object
price                    int64
dtype: object

In [160]:
df[['normalized-losses', 'city-mpg', 'highway-mpg', 'price']] = df[['normalized-losses', 'city-mpg','highway-mpg', 'price']].astype('int')
df[['stroke', 'compression-ratio']] = df[['stroke', 'compression-ratio']].astype('float')

In [161]:
print("After Datatype conversion")
df.dtypes

After Datatype conversion

symboling                int64
normalized-losses        int64
make                    object
fuel-type               object
aspiration              object
num-of-doors            object
body-style              object
drive-wheels            object
wheel-base              object
length                 float64
width                  float64
height                 float64
curb-weight            float64
engine-type              int64
num-of-cylinders        object
engine-size             object
fuel-system              int64
bore                    object
stroke                 float64
compression-ratio      float64
horsepower-peak-rpm    float64
city-mpg                 int64
highway-mpg              int64
price                    int64
dtype: object

In [162]:
# Turn categorical variables into quantitative variables in Python.
# solution
# Add Dummy variable and Assign 0 or 1 in that

# We can clearly observe that in the column 'fuel-type' there are two categories diesel and gas, 
# so for that column we have to make dummies according to the categories. 

dummy_var = pd.get_dummies(df['fuel-type'])
dummy_var.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1